h2 {
  margin: 32px 0 28px;
}

.img-top-right-outlying {
  top: 68px;
  right: 105px;
}

.img-bottom-left-outlying {
  left: 69px;
  bottom: 65px;
}

a {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

h2 {
  text-align: center;
}
