<div class="wrapper-centered flex-column library-selector">
  <h1>Choose a <span class="brand-underlined">library</span></h1>
  <p class="sub-header">
    Level 2 - Clinical Science will be in the future, right now we work<br>
    only on level 1 - Basic Science
  </p>

  <div class="levels">
    <div class="levels__item">1 Year</div>
    <div class="levels__item">2 Year</div>
    <div class="levels__item">3 Year</div>
    <div class="levels__item">4 Year</div>

    <div class="level-button active level-1" (click)="onLibrarySelect('basic')">
      <div>Level 1&nbsp;&nbsp;Basic Science</div>
    </div>

    <div class="level-button inactive level-2">
      <div>Level 2&nbsp;&nbsp;Clinical Science</div>
      <div>*coming soon</div>
    </div>
  </div>
</div>

<img src="../../../assets/img/Choose_a_library/dna.png" class="background-img img-bottom-left">
<img src="../../../assets/img/Choose_a_library/test_tube.png" class="background-img img-top-right">

<img src="../../../assets/img/Choose_a_library/magnet.png" class="background-img img-top-left">
<img src="../../../assets/img/Choose_a_library/abc.png" class="background-img img-bottom-right">
