$brand-color: #4D69FF;
$error-color: #E54260;

$active-btn-text-color: #FBFBFF;
$disabled-btn-text-color: #666977;
$stroked-button-hover-bgnd: #1F202C;

$basic-border-color: #252734;
$hovered-border-color: #535567;

$secondary-text-color: #6A6C77;
