<div class="wrapper-centered flex-column auth-form">
  <div class="logo dark auth-centered"></div>

  <h1>Enter your <span class="brand-underlined">new password</span></h1>
  <form [formGroup]="resetPasswordForm">
    <app-input [control]="getControl('password')" [inputType]="'pass'" label="Password"></app-input>
    <app-input [control]="getControl('confirmPassword')" [inputType]="'pass'" label="Repeat Password"></app-input>
  </form>
  <app-button
    [callback]="resetPassword.bind(this)"
    [disabled]="resetPasswordForm.invalid || isAuthLoading"
    [loading]="isAuthLoading"
  >Register</app-button>
</div>

<img src="../../../assets/img/register/bulb.png" class="background-img img-bottom-left">
<img src="../../../assets/img/register/dna.png" class="background-img img-top-right">
