.wrapper-centered.auth-form {
  padding: 110px 0;
}

h1 {
  margin-bottom: 16px;
  position: relative;

  &::after {
    content: url('../../../assets/svg/smile.svg');
    position: absolute;
    left: calc(100% + 8px);
  }
}

.text-secondary {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.img-bottom-right-outlying {
  right: 240px;
  bottom: 190px;
}

.img-top-left-outlying {
  top: 140px;
  left: 400px;
}

.back-link {
  position: fixed;
  display: flex;
  align-items: center;
  top: 86px;
  left: 75px;

  &::before {
    content: url('../../../assets/svg/left-link-arrow.svg');
    display: inline-block;
    height: 14px;
    margin-right: 8px;
  }
}
