<div class="wrapper-centered flex-column auth-form">
  <div class="logo dark auth-centered"></div>
  <h1>Don't be upset</h1>
  <p class="text-secondary">
    Now we will quickly recover your password and you can use our wonderful<br>
    service again. You only need to enter your email.
  </p>
  <app-input [control]="email" label="Email"></app-input>
  <app-button
    [callback]="resetPassword.bind(this)"
    [disabled]="!!email?.errors || isAuthLoading"
    [loading]="isAuthLoading"
  >Send a letter</app-button>
</div>

<img src="../../../assets/img/forgot_password/dna2.png" class="background-img img-top-right">
<img src="../../../assets/img/forgot_password/magnifier.png" class="background-img img-bottom-left">
<img src="../../../assets/img/forgot_password/dna_line1.png" class="background-img img-bottom-right-outlying">
<img src="../../../assets/img/forgot_password/dna_line2.png" class="background-img img-top-left-outlying">

<a routerLink="//auth/login" class="link-secondary back-link">Back</a>
